{% extends "base.html" %}
{% load static %}
{% block specific_plugins_css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock specific_plugins_css %}

{% block page_title %} <h1>Home - Wave</h1>{% endblock page_title %}
{% block content %}

<div class="card card-primary ">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa-chart-bar"></i>
      Linia 1 
    </h3>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- AREA CHART -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Productivitate linia 1</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="effChart1"
              style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-6">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Total productie linia 1</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="tableL1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cod placa</th>
                <th>Linia</th>
                <th>Nr Bucati</th>
                <th>Target/ora</th>
                <th>Interval</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<div class="card card-primary ">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa-chart-bar"></i>
      Linia 2
    </h3>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- AREA CHART -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Productivitate linia 2</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="effChart2"
              style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-6">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Total productie linia 2</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="tableL2" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cod placa</th>
                <th>Linia</th>
                <th>Nr Bucati</th>
                <th>Target/ora</th>
                <th>Interval</th>
              </tr>
            </thead>
            <tbody>
              {% for i in linia2 %}
              {% if i != None %}
              <tr class='{% if i.last == 1 %} table-success {% endif %}'>
                <td>{{forloop.counter}}</td>
                <td>{{i.cod_placa}}</td>
                <td>{{i.linia}}</td>
                <td>{{i.total}}</td>
                <td>{{ i.target }}</td>
                <td>{{ i.interval}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<div class="card card-primary ">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa-chart-bar"></i>
      Linia 3
    </h3>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- AREA CHART -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Productivitate linia 3</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="effChart3"
              style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-6">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Total productie linia 3</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="tableL3" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cod placa</th>
                <th>Linia</th>
                <th>Nr Bucati</th>
                <th>Target/ora</th>
                <th>Interval</th>
              </tr>
            </thead>
            <tbody>
              {% for i in linia3 %}
              {% if i != None %}
              <tr class='{% if i.last == 1 %} table-success {% endif %}'>
                <td>{{forloop.counter}}</td>
                <td>{{i.cod_placa}}</td>
                <td>{{i.linia}}</td>
                <td>{{i.total}}</td>
                <td>{{ i.target }}</td>
                <td>{{ i.interval}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>

<div class="card card-primary ">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa-chart-bar"></i>
      Linia 2A
    </h3>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- AREA CHART -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Productivitate linia 2A</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="effChart2A"
              style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-6">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Total productie linia 2A</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="tableL2A" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cod placa</th>
                <th>Linia</th>
                <th>Nr Bucati</th>
                <th>Target/ora</th>
                <th>Interval</th>
              </tr>
            </thead>
            <tbody>
              {% for i in linia4 %}
              {% if i != None %}
              <tr class='{% if i.last == 1 %} table-success {% endif %}'>
                <td>{{forloop.counter}}</td>
                <td>{{i.cod_placa}}</td>
                <td>{{i.linia}}</td>
                <td>{{i.total}}</td>
                <td>{{ i.target }}</td>
                <td>{{ i.interval}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>

<div class="card card-primary ">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa-chart-bar"></i>
      Linia 3A
    </h3>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- AREA CHART -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Productivitate linia 3A</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="effChart3A"
              style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-6">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Total productie linia 3A</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="tableL3A" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cod placa</th>
                <th>Linia</th>
                <th>Nr Bucati</th>
                <th>Target/ora</th>
                <th>Interval</th>
              </tr>
            </thead>
            <tbody>
              {% for i in linia5 %}
              {% if i != None %}
              <tr class='{% if i.last == 1 %} table-success {% endif %}'>
                <td>{{forloop.counter}}</td>
                <td>{{i.cod_placa}}</td>
                <td>{{i.linia}}</td>
                <td>{{i.total}}</td>
                <td>{{ i.target }}</td>
                <td>{{ i.interval}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>


{% endblock content %}

{% block page_specific_scripts %}
<!-- page specific plugins -->
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<!-- Page specific script - Tables 1 -->
<script>
  $(function () {
    var now = new Date();
    $("#tableL1").DataTable({
      "dom": 'Bftrip',
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [
        {
          extend: "excel",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
        },
        {
          extend: "csv",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
        },
        {
          extend: "print",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
        }
      ],
      "ajax":{
        url: "{% url 'wave-liveData' linia=1 %}",
      },
      "columns": [
        {"data": "id"},
        {"data": "cod_placa"},
        {"data": "linia"},
        {"data": "total"},
        {"data": "target"},
        {"data": "interval"},
        //{"data": "last"}
        
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        if (aData['last'] == "1") {
          $('td', nRow).addClass('table-success');
        }
      },
      "pageLength": 3,
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    }).buttons().container().appendTo('#tableL1_wrapper .col-md-6:eq(0)');

    var table = $("#tableL1").DataTable();
    setInterval(function (){
      table.ajax.reload(null, false);
    }, 1000);
  });
</script>
<!-- Page specific script - Tables 2 -->
<script>
  $(function () {
    var now = new Date();
    $("#tableL2").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [
        {
          extend: "excel",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-2',
        },
        {
          extend: "csv",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-2',
        },
        {
          extend: "print",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-2',
        }
      ],
      "ajax":{
        url: "{% url 'wave-liveData' linia=2 %}",
      },
      "columns": [
        {"data": "id"},
        {"data": "cod_placa"},
        {"data": "linia"},
        {"data": "total"},
        {"data": "target"},
        {"data": "interval"},
        //{"data": "last"}
        
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        if (aData['last'] == "1") {
          $('td', nRow).addClass('table-success');
        }
      },
      "pageLength": 3
    }).buttons().container().appendTo('#tableL2_wrapper .col-md-6:eq(0)');
    $('#tableL2.1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    var table = $("#tableL2").DataTable();
    setInterval(function (){
      table.ajax.reload(null, false);
    }, 1000);
  });
</script>
<!-- Page specific script - Tables 3 -->
<script>

  $(function () {
    var now = new Date();
    $("#tableL3").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [
        {
          extend: "excel",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        },
        {
          extend: "csv",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        },
        {
          extend: "print",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        }
      ],
      "ajax":{
        url: "{% url 'wave-liveData' linia=3 %}",
      },
      "columns": [
        {"data": "id"},
        {"data": "cod_placa"},
        {"data": "linia"},
        {"data": "total"},
        {"data": "target"},
        {"data": "interval"},
        //{"data": "last"}
        
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        if (aData['last'] == "1") {
          $('td', nRow).addClass('table-success');
        }
      },
      "pageLength": 3
    }).buttons().container().appendTo('#tableL3_wrapper .col-md-6:eq(0)');
    $('#etableL3.1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    var table = $("#tableL3").DataTable();
    setInterval(function (){
      table.ajax.reload(null, false);
    }, 1000);
  });
</script>
<!-- Page specific script - Table 2A-->
<script>
  $(function () {
    var now = new Date();
    $("#tableL2A").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [
        {
          extend: "excel",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        },
        {
          extend: "csv",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        },
        {
          extend: "print",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        }
      ],
      "ajax":{
        url: "{% url 'wave-liveData' linia=4 %}",
      },
      "columns": [
        {"data": "id"},
        {"data": "cod_placa"},
        {"data": "linia"},
        {"data": "total"},
        {"data": "target"},
        {"data": "interval"},
        //{"data": "last"}
        
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        if (aData['last'] == "1") {
          $('td', nRow).addClass('table-success');
        }
      },
      "pageLength": 3
    }).buttons().container().appendTo('#tableL2A_wrapper .col-md-6:eq(0)');
    $('#tableL2A.1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    var table = $("#tableL2A").DataTable();
    setInterval(function (){
      table.ajax.reload(null, false);
    }, 1000);
  });
</script>
<!-- Page specific script - Table 3A-->
<script>
  $(function () {
    var now = new Date();
    $("#tableL3A").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [
        {
          extend: "excel",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        },
        {
          extend: "csv",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        },
        {
          extend: "print",
          title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-3',
        }
      ],
      "ajax":{
        url: "{% url 'wave-liveData' linia=5 %}",
      },
      "columns": [
        {"data": "id"},
        {"data": "cod_placa"},
        {"data": "linia"},
        {"data": "total"},
        {"data": "target"},
        {"data": "interval"},
        //{"data": "last"}
        
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        if (aData['last'] == "1") {
          $('td', nRow).addClass('table-success');
        }
      },
      "pageLength": 3
    }).buttons().container().appendTo('#tableL3A_wrapper .col-md-6:eq(0)');
    $('#tableL3A.1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    var table = $("#tableL3A").DataTable();
    setInterval(function (){
      table.ajax.reload(null, false);
    }, 1000);
  });
</script>
<script>
  // draw live plugin
  Chart.pluginService.register({
    beforeDraw: function (chartInstance, easing) {
      var lineOpts = chartInstance.options.drawHorizontalLine;
      if (lineOpts) {

        var yAxis = chartInstance.scales["y-axis-0"];
        var yValueStart = yAxis.getPixelForValue(lineOpts.lineY[0], 0, 0, true);
        var yValueEnd = yAxis.getPixelForValue(lineOpts.lineY[1], 0, 0, true);

        var xAxis = chartInstance.scales["x-axis-0"];
        var xValueStart = xAxis.getPixelForTick(0) - 5;
        //var xValueEnd = xAxis.getPixelForTick(xAxis.ticks.length-1) + 15/*xAxis.right*/;
        var xValueEnd = xAxis.right;

        //console.log('xValueEnd', xValueEnd);
        //console.log('xAxis.ticks.length', xAxis.ticks.length);
        //console.log(xAxis.getPixelForTick(xAxis.ticks.length - 1));

        var ctx = chartInstance.chart.ctx;
        ctx.save();

        // le texte
        ctx.font = lineOpts.textFont;
        ctx.fillStyle = lineOpts.textColor;
        ctx.fillText(lineOpts.text, lineOpts.textPosition, yValueStart + 8);

        // la ligne en pointillés

        ctx.setLineDash([15, 15]);
        ctx.strokeStyle = lineOpts.lineColor;
        ctx.lineWidth = 2.5;
        ctx.beginPath();
        ctx.moveTo(xValueStart, yValueStart);
        ctx.lineTo(xValueEnd, yValueEnd);
        ctx.stroke();

        ctx.restore();
      }
    }
  });
</script>
<!-- Page specific script - area chart - chart.js 1 -->
<script>
  //getData();
  var today = new Date();
  var charts = createCharts(['effChart1', 'effChart2', 'effChart3', 'effChart2A', 'effChart3A']);

  chartIt(charts);
  setInterval(updateChart, 1000, charts);

  function createCharts(chartsIds){
    createdCharts = [];
    chartsIds.forEach((chartId) => {
      //console.log(chartId);
      const ctx = document.getElementById(chartId).getContext('2d');
      const newChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: "Eficienta",
            data: [],
            borderColor: "#0363ff",
            lineTension: 0
          }]
        },
        options:{
          maintainAspectRatio: false,
          responsive: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              gridLines: {
                display: true,
              }
            }],
            yAxes: [{
              ticks: {
                min: 0,
                max: 160
              },
              gridLines: {
                display: true,
              }
            }]
          },
          drawHorizontalLine: {
            lineY: [100, 100],
            lineColor: "rgba(50, 155, 255, 0.85)",
            text: '',
            textPosition: 360,
            textFont: '18px sans-serif',
            textColor: "rgba(50, 155, 255, 0.85)"
          }
        }
      })
      
      createdCharts.push(newChart);
    })
    //console.log(createCharts)
    return createdCharts;
  }
  async function chartIt(charts){
    const data = await getData();
    console.log(data["xs"]);
    console.log(data["ys"]);
    
    let i = 1;
    charts.forEach((chart) => {
      data["xs"][i].forEach((label) => {
        chart.data.labels.push(label);
      });

      chart.data.datasets.forEach((dataset) => {
        data["ys"][i].forEach((data) => {
          dataset.data.push(data);
        })
      });
      chart.update();
      i++;
    });
  }

  async function getData(){
    const xs = {
      "1": [],
      "2": [],
      "3": [],
      "4": [],
      "5": []
    };
    const ys = {
      "1": [],
      "2": [],
      "3": [],
      "4": [],
      "5": []
    };
    //console.log(xs["1"]);
    const response = await fetch("{% url 'efficency-chart'%}");
    const datas = await response.json();
    //const data = await JSON.parse(json_data);
    //console.log(datas["labels"][1]);

    for(let i=1; i<6; i++){
      datas["labels"][i].forEach((label) => {
      //console.log(label);
      xs[i.toString()].push(label);
      })
      datas["data"][i].forEach((data) => {
        ys[i.toString()].push(data);
      })
    }
    

    //console.log([xs, ys]);
    return {
      "xs": xs,
      "ys": ys,
    };

  }

  async function updateChart(charts){
    var newDay = new Date();
    console.log("run");
    const datas = await getData();
    //console.log(datas);
    //console.log();
    if(today.getDate() != newDay.getDate()){
      chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
      });
      chart.data.labels.pop();
      console.log("reset chart");
      today = new Date();
    }
    
    let i=1;
    charts.forEach((chart) => {
      chart.data.datasets[0].data.pop();
      chart.data.datasets[0].data.push(datas["ys"][i].at(-1));
      chart.data.labels.pop();
      chart.data.labels.push(datas["xs"][i].at(-1));
      

      let chart_len = chart.data.datasets[0].data.length;
      let new_data_len = datas["ys"][i].length;

      
      console.log(chart_len);
      console.log(new_data_len);

      if(chart_len < new_data_len){
        console.log("new");
        chart.data.labels.pop();
        chart.data.labels.push(datas["xs"][i].at(-2));
        chart.data.labels.push(datas["xs"][i].at(-1));
        chart.data.datasets[0].data.pop();
        chart.data.datasets[0].data.push(datas["ys"][i].at(-2));
        chart.data.datasets[0].data.push(datas["ys"][i].at(-1));
      }

      chart.update();
      i++;
    })
    
    

    //console.log(x.length);
    //console.log(datas["labels"].length);   
    //console.log(datas["data"].at(-1));
    /*if(x.length < datas["labels"].length){
      console.log("new");
      chart.data.labels.pop();
      chart.data.labels.push(datas["labels"].at(-2));
      chart.data.labels.push(datas["labels"].at(-1));
      chart.data.datasets[0].data.pop();
      chart.data.datasets[0].data.push(datas["data"].at(-2));
      chart.data.datasets[0].data.push(datas["data"].at(-1));

    }
    x.length = 0;
    y.length = 0;
    //console.log(x);
    //console.log(y);
    datas["labels"].forEach((label) => {
      x.push(label);
    })
    datas["data"].forEach((data) => {
      y.push(data);
    })
*/
    
  }

</script>

{% endblock page_specific_scripts %}