{% extends "base.html" %}
{% load static %}
{% block specific_plugins_css %}
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock specific_plugins_css %}

{% block page_title %} <h1>Home - Defecte</h1>{% endblock page_title %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Import</h3>
            </div>
            <div class="card-body p-0">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step" data-target="#upload-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="upload-part"
                                id="upload-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Upload File</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#edit-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="edit-part"
                                id="edit-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Edit Data</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#import-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="import-part"
                                id="import-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Import</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <!-- step 1-->
                        <div id="upload-part" class="content" role="tabpanel" aria-labelledby="upload-part-trigger">
                            <div class="form-group">
                                <label for="InputFile">File input</label>
                                <form id="upload-form" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" id="InputFile">

                                            <label class="custom-file-label" for="InputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <input type="submit" class="input-group-text" value="Upload">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <!-- step 2-->
                        <div id="edit-part" class="content" role="tabpanel" aria-labelledby="edit-part-trigger">
                            <div class="form-group">
                                <label for="table1">Edit Data</label>
                                <div class="col-12" style="overflow:scroll;">
                                    <table id="table1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Data</th>
                                                <th>Product Code</th>
                                                <th>Barcode</th>
                                                <th>Step-Fail</th>
                                                <th>Defect</th>
                                                <th>Problem</th>
                                                <th>Component Phase Reference</th>
                                                <th>Action Performed</th>
                                                <th>Functional Test</th>
                                                <th>Security Test</th>
                                                <th>smd/pth</th>
                                                <th>Cod Scheda</th>
                                                <th>Commessa</th>
                                                <th>Prodotte in</th>
                                                <th>Voci generiche</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table1-body">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <!-- step 3-->
                        <div id="import-part" class="content" role="tabpanel" aria-labelledby="import-part-trigger">

                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button type="submit" class="btn btn-primary">Import</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Visit <a href="https://github.com/Johann-S/bs-stepper/#how-to-use-it">bs-stepper documentation</a> for
                more examples and information about the plugin.
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<!-- EDIT modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EDIT</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" id="editForm">
                <div class="modal-body">
                    {%csrf_token%}

                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="text" class="form-control" id="data" placeholder="data" name="data" disabled>
                    </div>
                    <div class="form-group">
                        <label for="code">Product Code</label>
                        <input type="text" class="form-control" id="code" placeholder="code" name="code" disabled>
                    </div>
                    <div class="form-group">
                        <label for="barcode">Barcode</label>
                        <input type="text" class="form-control" id="barcode" placeholder="barcode" , name="barcode"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="step-fail">Step-fail</label>
                        <input type="text" class="form-control" id="step-fail" placeholder="step-fail" ,
                            name="step-fail" disabled>
                    </div>
                    <div class="form-group">
                        <label for="defect">Defect</label>
                        <input type="text" class="form-control" id="defect" placeholder="defect" , name="defect">
                    </div>
                    <div class="form-group">
                        <label for="problem">Problem</label>
                        <input type="text" class="form-control" id="problem" placeholder="problem" , name="problem">
                    </div>
                    <div class="form-group">
                        <label for="comp-ph-ref">Component Phase Reference</label>
                        <input type="text" class="form-control" id="comp-ph-ref" placeholder="comp-ph-ref" ,
                            name="comp-ph-ref">
                    </div>
                    <div class="form-group">
                        <label for="action-perf">Action Performed</label>
                        <input type="text" class="form-control" id="action-perf" placeholder="action-perf" ,
                            name="action_perf">
                    </div>
                    <div class="form-group">
                        <label for="func-test">Functional Test</label>
                        <input type="text" class="form-control" id="func-test" placeholder="func-test" ,
                            name="func-test">
                    </div>
                    <div class="form-group">
                        <label for="sec-test">Security Test</label>
                        <input type="text" class="form-control" id="sec-test" placeholder="sec-test" , name="sec-test">
                    </div>
                    <div class="form-group">
                        <label for="tip-comp">Smd/Pth</label>
                        <input type="text" class="form-control" id="tip-comp" placeholder="tip-comp" , name="tip-comp">
                    </div>
                    <div class="form-group">
                        <label for="cod-scheda">Cod Scheda</label>
                        <input type="text" class="form-control" id="cod-scheda" placeholder="cod-scheda" ,
                            name="cod-scheda">
                    </div>
                    <div class="form-group">
                        <label for="commessa">Commessa</label>
                        <input type="text" class="form-control" id="commessa" placeholder="commessa" , name="commessa">
                    </div>
                    <div class="form-group">
                        <label for="prodotte-in">Prodotte in</label>
                        <input type="text" class="form-control" id="prodotte-in" placeholder="prodotte-in" ,
                            name="prodotte-in">
                    </div>
                    <div class="form-group">
                        <label for="voci-gene">Voci generiche</label>
                        <input type="text" class="form-control" id="voci-gene" placeholder="voci-gene" ,
                            name="voci-gene">
                    </div>


                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="OK">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock content %}

{% block page_specific_scripts %}
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- page specific plugins -->
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
    $(function () {
        var now = new Date();
        $("#table1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": [
                {
                    extend: "excel",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                },
                {
                    extend: "csv",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                },
                {
                    extend: "print",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                }
            ],
            "pageLength": 3,
            "fixedHeader": true,

        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
        $('#table1.1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        var table = $('#table1').DataTable();
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = table.row($tr).data();
            console.log(data);

            $('#data').val(data[1]);
            console.log(data[1]);
            $('#code').val(data[2]);
            console.log(data[2]);
            $('#barcode').val(data[3]);
            console.log(data[4]);
            $('#step-fail').val(data[4]);
            console.log(data[5]);
            $('#defect').val(data[5]);
            console.log(data[6]);
            $('#problem').val(data[6]);
            console.log(data[7]);
            $('#comp-ph-ref').val(data[7]);
            console.log(data[8]);
            $('#action-perf').val(data[8]);
            console.log(data[9]);
            $('#func-test').val(data[9]);
            console.log(data[10]);
            $('#sec-test').val(data[10]);
            console.log(data[11]);
            $('#tip-comp').val(data[11]);
            console.log(data[12]);
            $('#cod-scheda').val(data[12]);
            console.log(data[13]);
            $('#commessa').val(data[13]);
            console.log(data[14]);
            $('#prodotte-in').val(data[14]);
            console.log(data[15]);
            $('#voci-gene').val(data[15]);
            console.log(data[16]);

            $(document).on('submit', '#editForm', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    //url: "update/",
                    data: {
                        defect: $('#defect').val(),
                        problem: $('#problem').val(),
                        comp_ph_ref: $('#comp-ph-ref').val(),
                        action: $('#action-perf').val(),
                        func_test: $('#func-test').val(),
                        sec_test: $('#sec-test').val(),
                        tip_comp: $('#tip-comp').val(),
                        cod_scheda: $('#cod-scheda').val(),
                        comm: $('#commessa').val(),
                        prodotte_in: $('#prodotte-in').val(),
                        voci_gene: $('#voci-gene').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (data) {
                        $('#editModal').modal('hide');
                        console.log(data)
                    }
                })

            })
        });
    });
</script>
<script>
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })
</script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>

<script>
    $(document).on('submit', '#upload-form', function (e) {
        e.preventDefault();

        var file = $('#InputFile').get(0).files[0];
        console.log(file)

        var data = new FormData();
        data.append("file", file)

        $.ajax({
            type: 'POST',
            url: "upload/",
            encType: "multipart/form-data",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                json = JSON.parse(data);
                sessionStorage.setItem('DATA', JSON.stringify(json["DATA"]));
                sessionStorage.setItem('CODE', JSON.stringify(json["PRODUCT CODE"]));
                sessionStorage.setItem('BARCODE', JSON.stringify(json["BARCODE"]));
                sessionStorage.setItem('PHASE', JSON.stringify(json["PHASE"]));
                sessionStorage.setItem('DEFECT', JSON.stringify(json["DEFECT"]));
                sessionStorage.setItem('PROBLEM', JSON.stringify(json["PROBLEM"]));
                sessionStorage.setItem('COMP-PH-REF', JSON.stringify(json[" COMPONENT PHASE REFERENCE"]));
                sessionStorage.setItem('ACT-PERF', JSON.stringify(json["ACTION PERFORMED"]));
                sessionStorage.setItem('FUNC-TEST', JSON.stringify(json["FUNCTIONAL TEST"]));
                sessionStorage.setItem('SEC-TEST', JSON.stringify(json["SECURITY TEST"]));

                //console.log(Object.keys(JSON.parse(sessionStorage.getItem('DATA'))).length);



                //console.log(JSON.parse(sessionStorage.getItem('DATA'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('CODE'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('BARCODE'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('PHASE'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('DEFECT'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('PROBLEM'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('COMP-PH-REF'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('ACT-PERF'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('FUNC-TEST'))[i]);
                //console.log(JSON.parse(sessionStorage.getItem('SEC-TEST'))[i]);
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                success: function () {
                    var length = Object.keys(JSON.parse(sessionStorage.getItem('DATA'))).length;
                    $("#table1-body").empty();
                    for (var i = 0; i < length; i++) {
                        var col1 = "<tr><td></td>";
                        var col2 = "<td>" + JSON.parse(sessionStorage.getItem('DATA'))[i].slice(0, 10) + "</td>";
                        var col3 = "<td>" + JSON.parse(sessionStorage.getItem('CODE'))[i] + "</td>";
                        var col4 = "<td>" + JSON.parse(sessionStorage.getItem('CODE'))[i] + "</td>";
                        var col5 = "<td>" + JSON.parse(sessionStorage.getItem('BARCODE'))[i] + "</td>";
                        var col6 = "<td>" + JSON.parse(sessionStorage.getItem('PHASE'))[i] + "</td>";
                        var col7 = "<td>" + JSON.parse(sessionStorage.getItem('DEFECT'))[i] + "</td>";
                        var col8 = "<td>" + JSON.parse(sessionStorage.getItem('PROBLEM'))[i] + "</td>";
                        var col9 = "<td>" + JSON.parse(sessionStorage.getItem('COMP-PH-REF'))[i] + "</td>";
                        var col10 = "<td>" + JSON.parse(sessionStorage.getItem('ACT-PERF'))[i] + "</td>";
                        var col11 = "<td>" + JSON.parse(sessionStorage.getItem('FUNC-TEST'))[i] + "</td>";
                        var col12 = "<td>" + JSON.parse(sessionStorage.getItem('SEC-TEST'))[i] + "</td>";
                        var colempty = "<td></td>";
                        var lastcol = "<td></td></tr>";

                        $("#table1-body").append(col1 + col2 + col3 + col4 + col5 + col6 + col7 + col8 + col9 + col10 + col11 + col12 + colempty + colempty + colempty + colempty + lastcol);
                    }
                }
            })
        }, 1000);
    })
</script>
<script>
    var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByTagName('tr'),
        text = 'textContent' in document ? 'textContent' : 'innerText';

    for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i + rows[i].children[0][text];
    }
</script>
{% endblock page_specific_scripts %}