{% extends "base.html" %}
{% load static %}
{% block specific_plugins_css %}
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
{% endblock specific_plugins_css %}

{% block page_title %} <h1>Home - Defecte</h1>{% endblock page_title %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Import</h3>
            </div>
            <div class="card-body p-0">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step" data-target="#upload-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="upload-part"
                                id="upload-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Upload File</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#edit-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="edit-part"
                                id="edit-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Edit Data</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#import-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="import-part"
                                id="import-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Import</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <!-- step 1-->
                        <div id="upload-part" class="content" role="tabpanel" aria-labelledby="upload-part-trigger">
                            <div class="form-group">
                                <label for="InputFile">File input</label>
                                <form id="upload-form" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" id="InputFile">

                                            <label class="custom-file-label" for="InputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <input type="submit" class="input-group-text" value="Upload">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <!-- step 2-->
                        <div id="edit-part" class="content" role="tabpanel" aria-labelledby="edit-part-trigger">
                            <div class="form-group">
                                <label for="table1">Edit Data</label>
                                <div class="col-12" style="overflow:scroll;">
                                    <table id="table1" class="table table-bordered table-striped" style="font-size:80%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Data</th>
                                                <th>Product Code</th>
                                                <th>Barcode</th>
                                                <th>Step-Fail</th>
                                                <th>Defect</th>
                                                <th>Problem</th>
                                                <th>Component Phase Reference</th>
                                                <th>Action Performed</th>
                                                <th>Functional Test</th>
                                                <th>Security Test</th>
                                                <th>smd/pth</th>
                                                <th>Cod Scheda</th>
                                                <th>Commessa</th>
                                                <th>Prodotte in</th>
                                                <th>Voci generiche</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table1-body">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <!-- step 3-->
                        <div id="import-part" class="content" role="tabpanel" aria-labelledby="import-part-trigger">

                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button type="button" id="importButton" class="btn btn-primary">Import</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Visit <a href="https://github.com/Johann-S/bs-stepper/#how-to-use-it">bs-stepper documentation</a> for
                more examples and information about the plugin.
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<!-- EDIT modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EDIT</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" id="editForm">
                <div class="modal-body">
                    {%csrf_token%}

                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="text" class="form-control" id="data" placeholder="data" name="data" disabled>
                    </div>
                    <div class="form-group">
                        <label for="code">Product Code</label>
                        <input type="text" class="form-control" id="code" placeholder="code" name="code" disabled>
                    </div>
                    <div class="form-group">
                        <label for="barcode">Barcode</label>
                        <input type="text" class="form-control" id="barcode" placeholder="barcode" , name="barcode"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="step-fail">Step-fail</label>
                        <input type="text" class="form-control" id="step-fail" placeholder="step-fail" ,
                            name="step-fail" disabled>
                    </div>
                    <div class="form-group">
                        <label for="defect">Defect</label>
                        <input type="text" class="form-control" id="defect" placeholder="defect" , name="defect">
                    </div>
                    <div class="form-group">
                        <label for="problem">Problem</label>
                        <input type="text" class="form-control" id="problem" placeholder="problem" , name="problem">
                    </div>
                    <div class="form-group">
                        <label for="comp-ph-ref">Component Phase Reference</label>
                        <input type="text" class="form-control" id="comp-ph-ref" placeholder="comp-ph-ref" ,
                            name="comp-ph-ref">
                    </div>
                    <div class="form-group">
                        <label for="action-perf">Action Performed</label>
                        <input type="text" class="form-control" id="action-perf" placeholder="action-perf" ,
                            name="action_perf">
                    </div>
                    <div class="form-group">
                        <label for="func-test">Functional Test</label>
                        <input type="text" class="form-control" id="func-test" placeholder="func-test" ,
                            name="func-test">
                    </div>
                    <div class="form-group">
                        <label for="sec-test">Security Test</label>
                        <input type="text" class="form-control" id="sec-test" placeholder="sec-test" , name="sec-test">
                    </div>
                    <div class="form-group">
                        <label for="tip-comp">Smd/Pth</label>
                        <input type="text" class="form-control" id="tip-comp" placeholder="tip-comp" , name="tip-comp">
                    </div>
                    <div class="form-group">
                        <label for="cod-scheda">Cod Scheda</label>
                        <input type="text" class="form-control" id="cod-scheda" placeholder="cod-scheda" ,
                            name="cod-scheda">
                    </div>
                    <div class="form-group">
                        <label for="commessa">Commessa</label>
                        <input type="text" class="form-control" id="commessa" placeholder="commessa" , name="commessa">
                    </div>
                    <div class="form-group">
                        <label for="prodotte-in">Prodotte in</label>
                        <input type="text" class="form-control" id="prodotte-in" placeholder="prodotte-in" ,
                            name="prodotte-in">
                    </div>
                    <div class="form-group">
                        <label for="voci-gene">Voci generiche</label>
                        <input type="text" class="form-control" id="voci-gene" placeholder="voci-gene" ,
                            name="voci-gene">
                    </div>


                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="OK">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="tempDbNotEmpty">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Fisierul nu a fost incarcat!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Exista date in memorie care nu au fost importate. </br> Doresti sa renunti la aceste date sau le vei
                    importa mai intai?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Import</button>
                <button type="button" id="clearButton" class="btn btn-outline-light">Renunt</button>
                <!--<a href="" id="deleteConfirm" type="button" class="btn btn-outline-light">Renunt</a>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="errorDeleteMemory">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Nu se poate sterge memoria!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Refresh pagina sau contacteaza administrator!</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <!--<a href="" id="deleteConfirm" type="button" class="btn btn-outline-light">Renunt</a>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock content %}

{% block page_specific_scripts %}
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- page specific plugins -->
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script>
    $(function () {
        var now = new Date();
        $("#table1").DataTable({
            "paging": "true",
            "ajax": {
                url: 'showTemp/',
            },
            "columns": [
                { "data": "id" },
                { "data": "data" },
                { "data": "cod_placa" },
                { "data": "barcode" },
                { "data": "step_fail" },
                { "data": "defect" },
                { "data": "problem" },
                { "data": "comp_ph_ref" },
                { "data": "act_perf" },
                { "data": "func_test" },
                { "data": "sec_test" },
                { "data": "tip_comp" },
                { "data": "familia" },
                { "data": "commessa" },
                { "data": "produs_in" },
                { "data": "voci" },
            ],
            "responsive": false, "lengthChange": false, "autoWidth": false,
            "pageLength": 5,
            "scrollX": true

        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
        var table = $("#table1").DataTable();
        setInterval(function () {
            table.ajax.reload(null, false);
        }, 1000);
        $("#table1 tbody").on('click', 'tr', function () {
            console.log("apasat");
            obj = table.row(this).data();
            console.log(obj);
            $('#editModal').modal('show');
            
            $id = obj.id;
            $('#data').val(obj.data);
            $('#code').val(obj.cod_placa);
            $('#barcode').val(obj.barcode);
            $('#step-fail').val(obj.step_fail);
            $('#defect').val(obj.defect);
            $('#problem').val(obj.problem);
            $('#comp-ph-ref').val(obj.comp_ph_ref);
            $('#action-perf').val(obj.act_perf);
            $('#func-test').val(obj.func_test);
            $('#sec-test').val(obj.sec_test);
            $('#tip-comp').val(obj.tip_comp);
            $('#cod-scheda').val(obj.familia);
            $('#commessa').val(obj.commessa);
            $('#prodotte-in').val(obj.produs_in);
            $('#voci-gene').val(obj.voci);
        });

        $(document).on('submit', '#editForm', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: 'updateTemp/',
                data: {
                    id: $id,
                    data: $("#data").val(),
                    code: $("#code").val(),
                    barcode: $("#barcode").val(),
                    step_fail: $("#step-fail").val(),
                    defect: $("#defect").val(),
                    problem: $("#problem").val(),
                    comp_ph_ref: $("#comp-ph-ref").val(),
                    act_perf: $("#action-perf").val(),
                    func_test: $("#func-test").val(),
                    sec_test: $("#sec-test").val(),
                    tip_comp: $("#tip-comp").val(),
                    familia: $("#cod-scheda").val(),
                    commessa: $("#commessa").val(),
                    produs_in: $("#prodotte-in").val(),
                    voci: $("#voci-gene").val(),

                },
                success: function (data) {
                    //sessionStorage.setItem('COD_SCHEDA')
                    console.log(data);

                    $('#editModal').modal('hide');
                }
            })

        });
    });
</script>
<script>
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })

    $(function () {
        bsCustomFileInput.init();
    });
</script>

<script>
    $(document).on('submit', '#upload-form', function (e) {
        e.preventDefault();

        var file = $('#InputFile').get(0).files[0];
        //console.log(file)

        var data = new FormData();
        data.append("file", file)

        $.ajax({
            type: 'POST',
            url: "upload/",
            encType: "multipart/form-data",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data['status']);
                if (data['status'] == 202) {
                    toastr.success('Fisierul a fost incarcat!', { timeOut: 2000 });
                }
                else if (data['status'] == 404) {
                    $('#tempDbNotEmpty').modal('show');

                    $('#clearButton').click(function () {
                        //e.preventDefault();
                        console.log("apasat");
                        $.ajax({
                            url: "clear/",
                            success: function (returnVal) {
                                console.log(returnVal['status']);
                                if (returnVal['status'] == 202) {
                                    $('#tempDbNotEmpty').modal('hide');
                                    toastr.success('Memorie golita!', { timeOut: 2000 });
                                }
                                else if (returnVal['status'] == 404) {
                                    $('#tempDbNotEmpty').modal('hide');
                                    $('#errorDeleteMemory').modal('show');
                                }
                            }
                        });
                    });
                    //toastr.error('Exista date in memorie care nu au fost incarcate. Doresti sa renunti la aceste date?', 'Fisierul nu a fost incarcat!', { timeOut: 5000 });
                }


            }
        });

    });

    $('#importButton').click(function (){
        console.log("apasat Import");

        $.ajax({
            url: "saveImport/",
            success: function(data){
                //console.log(data);
                if(data['status'] == 202){
                    toastr.success('Import reusit!', { timeOut: 2000 });
                    stepper.previous();
                    stepper.previous();
                    $('#InputFile').val(null);
                }
                else if(data['status'] == 404){
                    toastr.error('Intoarce-te la pasul 1 si incarca un fisier.', 'Niciun fisier selectat pentru import!', { timeOut: 5000 });
                    
                }
            }
        })
    })
</script>
<!-- 
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: 'showTemp/',
                success: function (data) {
                    console.log(data);
                    var len = data['data'].length;
                    $("#table1-body").empty();
                    for (var i=0; i<len; i++){
                        var $row = $("<tr style='font-size: 80%; !important'><td class='rowid'>" + (i + 1) + "</td>" +
                            "<td class='DATA'>" + data['data'][i] + "</td>" +
                            "<td class='CODE'>" + data['cod_placa'][i] + "</td>" +
                            "<td class='BARCODE'>" + data['barcode'][i] + "</td>" +
                            "<td class='PHASE'>" + data['step_fail'][i] + "</td>" +
                            "<td class='DEFECT'>" + data['defect'][i] + "</td>" +
                            "<td class='PROBLEM'>" + data['problem'][i] + "</td>" +
                            "<td class='COMP-PH-REF'>" + data['comp_ph_ref'][i] + "</td>" +
                            "<td class='ACT-PERF'>" + data['act_perf'][i] + "</td>" +
                            "<td class='FUNC-TEST'>" + data['func_test'][i] + "</td>" +
                            "<td class='SEC-TEST'>" + data['sec_test'][i] + "</td>" +
                            "<td class='TIP-COMP'>" + data['tip_comp'][i] + "</td>" +
                            "<td class='COD-SCHEDA'>" + data['familia'][i] + "</td>" +
                            "<td class='COMM'>" + data['commessa'][i] + "</td>" +
                            "<td class='PRODOTTE-IN'>" + data['produs_in'][i] + "</td>" +
                            "<td class='VOCI'>" + data['voci'][i] + "</td>" +
                            "<td><a href='#' class='btn btn-success edit' data-toggle='modal' data-target='#editModal' type = 'button'> EDIT </a></td></tr>"
                        );
                        $("#table1-body").append($row);
                    }
                    /*var length = Object.keys(JSON.parse(sessionStorage.getItem('DATA'))).length;
                    $("#table1-body").empty();
                    for (var i = 0; i < length; i++) {
                        var data = JSON.parse(sessionStorage.getItem('DATA'))[i].slice(0, 10);
                        var code = JSON.parse(sessionStorage.getItem('CODE'))[i];
                        var barcode = JSON.parse(sessionStorage.getItem('BARCODE'))[i];
                        var phase = JSON.parse(sessionStorage.getItem('PHASE'))[i];
                        var defect = JSON.parse(sessionStorage.getItem('DEFECT'))[i];
                        var problem = JSON.parse(sessionStorage.getItem('PROBLEM'))[i];
                        var comp_ph_ref = JSON.parse(sessionStorage.getItem('COMP-PH-REF'))[i];
                        var act_pref = JSON.parse(sessionStorage.getItem('ACT-PERF'))[i];
                        var func_test = JSON.parse(sessionStorage.getItem('FUNC-TEST'))[i];
                        var sec_test = JSON.parse(sessionStorage.getItem('SEC-TEST'))[i];
                        if (sessionStorage.getItem('TIP-COMP') != JSON.stringify('')) {
                            var tip_comp = JSON.parse(sessionStorage.getItem('TIP-COMP'))[i];
                        }
                        else {
                            var tip_comp = '';
                        }
                        if (sessionStorage.getItem('COD-SCHEDA') != JSON.stringify('')) {
                            var cod_scheda = JSON.parse(sessionStorage.getItem('COD-SCHEDA'))[i];
                        }
                        else {
                            var cod_scheda = '';
                        }
                        if (sessionStorage.getItem('COMM') != JSON.stringify('')) {
                            var comm = JSON.parse(sessionStorage.getItem('COMM'))[i];
                        }
                        else {
                            var comm = '';
                        }
                        if (sessionStorage.getItem('PRODOTTE-IN') != JSON.stringify('')) {
                            var prodotte_in = JSON.parse(sessionStorage.getItem('PRODOTTE-IN'))[i];
                        }
                        else {
                            var prodotte_in = '';
                        }
                        if (sessionStorage.getItem('VOCI') != JSON.stringify('')) {
                            var voci = JSON.parse(sessionStorage.getItem('VOCI'))[i];
                        }
                        else {
                            var voci = '';
                        }

                        var $row = $("<tr style='font-size: 80%; !important'><td class='rowid'>" + (i + 1) + "</td>" +
                            "<td class='DATA'>" + data + "</td>" +
                            "<td class='CODE'>" + code + "</td>" +
                            "<td class='BARCODE'>" + barcode + "</td>" +
                            "<td class='PHASE'>" + phase + "</td>" +
                            "<td class='DEFECT'>" + defect + "</td>" +
                            "<td class='PROBLEM'>" + problem + "</td>" +
                            "<td class='COMP-PH-REF'>" + comp_ph_ref + "</td>" +
                            "<td class='ACT-PERF'>" + act_pref + "</td>" +
                            "<td class='FUNC-TEST'>" + func_test + "</td>" +
                            "<td class='SEC-TEST'>" + sec_test + "</td>" +
                            "<td class='TIP-COMP'>" + tip_comp + "</td>" +
                            "<td class='COD-SCHEDA'>" + cod_scheda + "</td>" +
                            "<td class='COMM'>" + comm + "</td>" +
                            "<td class='PRODOTTE-IN'>" + prodotte_in + "</td>" +
                            "<td class='VOCI'>" + voci + "</td>" +
                            "<td><a href='#' class='btn btn-success edit' data-toggle='modal' data-target='#editModal' type = 'button'> EDIT </a></td></tr>"
                        );
                        $("#table1-body").append($row);
                    }*/
                    //var table = $('#table1').DataTable();

                    /*$tr = $(this).closest('tr');
                    if ($($tr).hasClass('child')) {
                        $tr = $tr.prev('.parent');
                    }

                    

                    var data = table.row($tr).data();
                    console.log(data)*/
                }

            })
        }, 1000);
    })
</script>-->
{% endblock page_specific_scripts %}