{% extends "base.html" %}
{% load static %}
{% block specific_plugins_css %}
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock specific_plugins_css %}

{% block page_title %} <h1>Home - Defecte</h1>{% endblock page_title %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Import</h3>
            </div>
            <div class="card-body p-0">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step" data-target="#upload-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="upload-part"
                                id="upload-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Upload File</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#edit-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="edit-part"
                                id="edit-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Edit Data</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#import-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="import-part"
                                id="import-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Import</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <!-- step 1-->
                        <div id="upload-part" class="content" role="tabpanel" aria-labelledby="upload-part-trigger">
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="form-control" id="exampleInputFile">

                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <!-- step 2-->
                        <div id="edit-part" class="content" role="tabpanel" aria-labelledby="edit-part-trigger">
                            <div class="form-group">
                                <label for="exampleInputFile">Edit Data</label>
                                <div class="col-12">
                                    <table id="table1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Data</th>
                                                <th>Product Code</th>
                                                <th>Barcode</th>
                                                <th>Step-Fail</th>
                                                <th>Defect</th>
                                                <th>Problem</th>
                                                <th>Component Phase Reference</th>
                                                <th>Action Performed</th>
                                                <th>Functional Test</th>
                                                <th>Security Test</th>
                                                <th>smd/pth</th>
                                                <th>Cod Scheda</th>
                                                <th>Commessa</th>
                                                <th>Prodotte in</th>
                                                <th>Voci generiche</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <!-- step 3-->
                        <div id="import-part" class="content" role="tabpanel"
                            aria-labelledby="import-part-trigger">
                            <div class="form-group">
                                <label for="exampleInputFile">Check & Import</label>
                                <div class="col-12">
                                    <table id="table2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Data</th>
                                                <th>Product Code</th>
                                                <th>Barcode</th>
                                                <th>Step-Fail</th>
                                                <th>Defect</th>
                                                <th>Problem</th>
                                                <th>Component Phase Reference</th>
                                                <th>Action Performed</th>
                                                <th>Functional Test</th>
                                                <th>Security Test</th>
                                                <th>smd/pth</th>
                                                <th>Cod Scheda</th>
                                                <th>Commessa</th>
                                                <th>Prodotte in</th>
                                                <th>Voci generiche</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button type="submit" class="btn btn-primary">Import</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Visit <a href="https://github.com/Johann-S/bs-stepper/#how-to-use-it">bs-stepper documentation</a> for
                more examples and information about the plugin.
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->


{% endblock content %}

{% block page_specific_scripts %}
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- page specific plugins -->
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
    $(function () {
        var now = new Date();
        $("#table1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": [
                {
                    extend: "excel",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                },
                {
                    extend: "csv",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                },
                {
                    extend: "print",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                }
            ],
            "pageLength": 3,
            "scrollX": true
        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
        $('#table1.1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
<script>
    $(function () {
        var now = new Date();
        $("#table2").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": [
                {
                    extend: "excel",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                },
                {
                    extend: "csv",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                },
                {
                    extend: "print",
                    title: 'Raport_Wave_' + now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear() + '_' + now.getHours() + '-' + now.getMinutes() + '_Linia-1',
                }
            ],
            "pageLength": 3,
            "scrollX": true
        }).buttons().container().appendTo('#table2_wrapper .col-md-6:eq(0)');
        $('#table2.1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
<script>
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })

</script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>

{% endblock page_specific_scripts %}